
.MuiToggleButtonGroup-root {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: '1rem' !important;
    width: 100%;
    height: 10rem;
    align-items: center;
    margin-top: 1rem;
}

.ShoeProductContainer{
    aspect-ratio: 4/3;
}

.ShoeItem{
    transform: translateY(-60px);
}