.main{
    width:100%;
    height:14rem;
    position: relative;
    z-index: 3;
    margin-left: 0;
}

.carousel_img{
    position: absolute;
    height:14rem;
    width:100%;
    transform: scaleY(1.5),scaleX(1.5);
}

@media only screen  and (min-width:1024px){
    .main{
        height:600px;
    }
    .carousel_img{
        transform: scaleY(0),scaleX(0);
        height: auto;
    
    }
}


